<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382508414133-4fbi0gnrqgidi5h2da82co0cj8viu7j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382508414133-4fbi0gnrqgidi5h2da82co0cj8viu7j2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382508414133-tbe5jk0vcqddghsn8j3pv30n5jctplep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZaLTck44NZpmLiQNaWztq6xCEh1q44fo</string>
	<key>GCM_SENDER_ID</key>
	<string>382508414133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vuwala.providerapp</string>
	<key>PROJECT_ID</key>
	<string>vuwala-15bf1</string>
	<key>STORAGE_BUCKET</key>
	<string>vuwala-15bf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382508414133:ios:0f7132d06082197493fafc</string>
</dict>
</plist>